<!DOCTYPE html>
<html>
<head>
	<title>A monitor for Twilio calls</title>
    <script type="text/javascript"
      src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
    <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <link href="{{ url_for('static', filename='css/call_monitor.css') }}" type="text/css" rel="stylesheet"/>
</head>
<body>
	<h1>This is a monitor for your Twilio calls.</h1>
</body>
</html>